<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/scriptsBootstrap.ejs %>

<div class="hero text-center">
  <div class="container">
    <img class="logo" src="/app-logo.png">
    <div>
      <h1>Little Yellow Button</h1>
    </div>
  </div>
</div>

<div class="forms">
  <div class="container text-center">

    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>

    <div
        class="tym-clipit-button-small"
        data-tym-playerid="tym-player-1"
        data-tym-title="video title"
        data-tym-tags="video,tags"
        data-tym-categories="video,categories"
        data-tym-permalink="http://my.link.tld/permalink.html"
        data-tym-providerreference="hyUsWvHPO_M"
        data-tym-providername="youtube"
        data-tym-userid="b1008339-ab47-4c9d-8715-e6b3cc6c4511"
       data-tym-language="en"></div>

  </div>
</div>

<script>

      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      function onYouTubeIframeAPIReady() {
          require(['scripts/app'], function() {
              // Configuration loaded now, safe to do other require calls
              // that depend on that config.
          });
      }
    </script>
    <script src="//s3-eu-west-1.amazonaws.com/tym-dev/init.js" async defer></script>


<script type="text/template" id="contestWidgetTpl">
  <div class="contest-card">

    <div class="contest-description">
      <span class="description"><%%= contest.text %></span>
    </div>

    <div class="contest-picture">
      <div class="pic" style="background-image: url(<%%= contest.image %>)"></div>
      <div class="contest-participants" style="display: none"><%%= contest.participantsCount %> participants</div>
    </div>

  </div>
</script>

<script type="text/template" id="pageWidgetTpl">
<div class="fb-page" data-href="https://www.facebook.com/<%%= id %>" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"> <blockquote cite="https://www.facebook.com/<%%= id %>" class="fb-xfbml-parse-ignore"> <a href="https://www.facebook.com/<%%= id %>"><%%= name %></a> </blockquote> </div>
</script>

<script type="text/template" id="winnerWidgetTpl">
  <div class="card clearfix">
    <div class="img-container">
      <img src="//graph.facebook.com/<%%= winner.id %>/picture?type=normal"></img>
    </div>
    <h2><%%= winner.name %></h2>
    <a href="https://www.facebook.com/search/str/<%%= winner.name %>/users-named/<%%= sponsor.id%>/likers/intersect" class=".sponsor-search" target="_blank">Check sponsor subscription!</a>
  </div>
</script>


</body>
</html>
